/* Add application styles & imports to this file! */
@use '@angular/material' as mat;

@include mat.core();

// Import Palettes
@import 'palettes';

// Import typography css
@import 'typography';

$ep-light-theme: mat.define-light-theme(
  (
    color: (
      primary: $ep-primary-palette,
      accent: $ep-accent-palette,
      warn: $ep-warn-palette,
    ),
    typography: $ep-typography,
    density: 0,
  )
);

@include mat.core-theme($ep-light-theme);

$ep-dark-theme: mat.define-dark-theme(
  (
    color: (
      primary: $ep-dark-primary-palette,
      accent: $ep-dark-accent-palette,
      warn: $ep-dark-warn-palette,
    ),
    typography: $ep-typography,
    density: 0,
  )
);

.adm-dark-theme,
.ep-dark-theme {
  @include mat.all-component-themes($ep-dark-theme);
}